doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://unpkg.com/react@15.3.2/dist/react.js")
    script(src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js")
    script(src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js")
    script(src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js")
    script(src="https://unpkg.com/remarkable@1.7.1/dist/remarkable.min.js")
  body
    .navbar-fixed
      nav.blue-grey.darken-3
        .nav-wrapper
          a.right#button-collapse(href="#" data-activates="slide-out")
            i.material-icons menu
          a.right(href="http://193.124.178.232:100/login?ruri=http://localhost:3000")
            i.material-icons input
          ul.right
            li
    .container
      block content
    ul#slide-out.side-nav
      li
        div.userView
          img.background(src="https://www.firestock.ru/wp-content/uploads/2015/11/Dollar-Photo-Club-Teal-Square-Background-700x393.jpg")
          a(href="/")
            img.circle(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLmaPLhZnnPwCrYoxAY5MI5HsFyiSRsElJPVJIYX9MIAS_9jQaoQ")
          a(href="/")
            span.white-text.name Жарков Денис
          a(href="#!email")
            span.white-text.email d.zharkov@miactuva.ru
          a(href="#!org")
            span.white-text.name МИАЦ Республики Тыва
      li
        a(href="/dashboard").waves-effect
          i.material-icons perm_contact_calendar
          | Личный кабинет
      li
        a(href="#!").waves-effect
          i.material-icons call_received
          | Входящие
      li
        a(href="#!").waves-effect
          i.material-icons call_made
          | Исходящие
      li
        a(href="/reports").waves-effect
          i.material-icons web
          | Отчёты
      li
        div.divider
      //li
      //  a.subheader Subheader
      li
        a.waves-effect(href="/logs")
          i.material-icons cloud
          | Логи операций
      li
        div.divider
      li
        a.waves-effect(href="#!")
          i.material-icons settings
          | Настройки
    footer.page-footer.blue-grey.darken-3
      .footer-copyright
        .container
          a.grey-text.text-lighten-4.left(href="#!") Система электронного документооборота
          a.grey-text.text-lighten-4.right(href="#!") АРАСОФТ
    script.
      $(document).ready(function () {
        $("#button-collapse").sideNav();
      });
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
