body {
  /*background: url("http://www.fotonastenu.ru/index.php?view=image&format=raw&type=orig&id=4391&option=com_joomgallery&Itemid=101") no-repeat center bottom fixed;*/
  background-size: cover;
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

#button-collapse{
  margin-right: 25px;
}

