@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow';
body {
  /*background: url("http://www.fonstola.ru/pic/201111/1920x1200/fonstola.ru-50518.jpg") no-repeat center bottom fixed;*/
  /*background-size: cover;*/
  /*padding: 50px;*/
  font: 14px 'PT Sans Narrow', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

#button-collapse{
  margin-right: 25px;
}

.container{
  margin-top:10px !important;
  flex: 1 0 auto;
  max-width: none !important;
  width: 90% !important;
}

.doc{
  cursor: pointer;
}

